html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 85%;
 /*   min-height: 680px; */
    background: linear-gradient(160deg, #ffccba 0%, #aa7ecd 100%);
    padding: 1em;
    border-radius: 6px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin: 0 0 3em;
	
}

.card {
	margin-left: 3px;
	
}

.deck .card {
    height: 3.7rem;
    width: 3.7rem;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73 ,0.5);
}

.deck .card.open {
    transform: rotateY(0);
	animation-name:flipY;
	animation-duration: .7s;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.disable{
	pointer-events: none;
}

.deck .card.match {
    cursor: default;
    background: #7ae9ba;
    font-size: 33px;
	animation-name: matched;
	animation-direction: normal;
	animation-duration: .6s;
	animation-iteration-count: 1;
}

.deck .card.unmatch {
	cursor: default;
	background: #ff1493;
	font-size: 33px;
	animation-name: unmatched;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}
/*
 *Animation for matching and unmatching of cards 
 */

@keyframes matched{
	0% { transform: scale(1,1);
	}
	20% { transform: scale(1.25,.75);
	}
	40% { transform: scale(.7,1.25); 
	}
	60% { transform: scale(1.14,.9); 
	}
	80% { transform: scale(.88,1.1); 
	}
	100% { transform: scale(1.1,.92); 
	}
}

@keyframes unmatched{
	0% { transform: translateX(0); 
	animation-timing-function: ease-out;
	}
	25% { transform: translateX(-1em); 
	animation-timing-function: ease-out;
	}
	50% { transform: translateX(1em); 
	animation-timing-function: ease-out;
	}
	75% { transform: translateX(-.5em); 
	animation-timing-function: ease-out;
	}
	100% { transform: translateX(.5em); 
	animation-timing-function: ease-out;
	}
}

@keyframes flipY{
	0% {
		transform: perspective(15em) rotate3d(0,1,0,90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	25% {
		transform:perspective(15em) rotate3d(0,1,0,-20deg);
	}
	50% {
		transform: perspective(15em) rotate3d(0,1,0,10deg);
		opacity: 1;
	}
	75% {
		transform: perspective(15em) rotate3d(0,1,0,-5deg);
	}
	100% {
		transform: perspective(15em);
	}
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/*
 * Styles for the modal
 */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
	/*background: linear-gradient(160deg, #fa7ecd 0%, #ccffca 100%);  */
    background-color: rgb(0,0,0);  /* Fallback color */
    background-color: rgba(0,0,0,0.4);  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
/*  background-color: #fefefe; */
	background: linear-gradient(160deg, #fa7ecd 0%, #ccffca 100%);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f25;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
   /* background-color: #5cb85c; */
    color: white;
	text-align: center;
}

.modal-body {padding: 2px 16px;
	text-align: center;
}

.modal-footer {
    padding: 2px 16px;
 /*   background-color: #5cb85c; */
    color: white;
}

.modal-footer button {
	margin: auto;
	display: block;
	transition:transform .2s;
}

.modal-footer button:hover{
	transform:scale(1.08);
	background-color: #9932cc;
}
.rating li {
    list-style: none;
    display: inline-block;
}


/*
 * Adding Responsiveness
*/

@media (max-width:450px){
	.deck {
		width: 82%;
		justify-content: center;
	}
	
	.deck .card {
		width: 4.7rem;
		height: 4.7rem;
	}
}

@media (min-width:750px){
	.deck {
		width: 660px;
		height: 680px;
	}
	.deck .card {
		width: 125px;
		height: 125px;
		margin:
	} 
	.modal {
		width: 60%;
	}
}

